{% from "macros.html" import show_flash_message %}
{% from "macros.html" import show_all_flash_message %}
<HTML>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Sklep internetowy NET-SELL</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style-edit_assortment.css') }}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  
      <style>
        h2 {margin-top: 2%;}
        .container {margin-left: 35%; margin-top: 5%;}
      </style>
    </head>
    <body>
     {{ show_all_flash_message() }}

     <script>
      $(document).ready(function () {
          // For A Delete Record Popup
          // This function is applied to all elements with class ending  with ".delete-confirm"
          $('.delete-confirm').click(function () {
              // get attributes of the found element
              var desc = $(this).attr('data-desc');
              var url = $(this).attr('data-url');
              // the #... designates id of an element - change the text in the modal window
              $('#idDeleteModalBody').text(desc);
              $("#confirmDeleteForm").attr("action", url);
          });
      });
    </script>

<div id="logo">
  <p> <a href = "/" class="l1">NET-SELL</a></p>
</div>

<div id ="wyszukiwarka"> 
  <form>
  <input type="text" class="form-control">
  </form>
  </div>

  <div id="szukajklawisz">
  <button type="submit" class="btn btn-primary mb-6">Szukaj</button>
  

</div>





<div id="element">
  <a href = "/login">
      <img class="mojekonto" src="{{ url_for('static', filename='assets/person.png') }}"width="40" height="30">
  <div class="tekst">Moje Konto: {{session['user'] if 'user' in session }}</div>
</a>

</div>

  <div id="element2">
      <a href = "#">
          <img class="mojekonto2" src="{{ url_for('static', filename='assets/shopping_card.png') }}"width="40" height="30">
          <div class="tekst">Koszyk</div>
      </a>
  </div>
  
  <div id="element3">
      <a href = "/help">
          <img class="mojekonto3" src="{{ url_for('static', filename='assets/help.png') }}"width="40" height="30">
          <div class="tekst">Pomoc</div>
      </a>
  </div>

  <div id="element4">
  <a class="logoutbutton" href="{{ url_for('logout') }}">
    Wyloguj:</a>
  </div>

<div style="clear:both;"></div>


<div class="container">
    <div class="row mb-3">
        <div class="col-5 h1" style="text-align: center;">Edytuj przedmiot: {{ laptop.nazwa }}</div>
    </div>
    <form id="user_form" action="{{ url_for('edit_assortment', assortment_id=laptop.id) }}" method="POST">
 
        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="zdjecie">Zdjęcie:</label></div>
            <div class="col-4">
                <input type="text" id="zdjecie" name="zdjecie" value="{{laptop.zdjecie}}" class="form-control"><br>
            </div>   
        </div>

        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="zdjecie">Kategoria:</label></div>
            <div class="col-4">
                <input type="text" id="kategoria" name="kategoria" value="{{laptop.kategoria}}" class="form-control"><br>
            </div>   
        </div>


        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="nazwa">Nazwa:</label></div>
            <div class="col-4">
                <input type="text" id="nazwa" name="nazwa" value="{{laptop.nazwa}}" class="form-control"><br>
            </div>   
        </div>

        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="procesor">Procesor</label></div>
            <div class="col-4">
                <input type="text" id="procesor" name="procesor" value="{{laptop.procesor}}" class="form-control"><br>
            </div>   
        </div>

        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="ekran">Ekran</label></div>    
            <div class="col-4">
                <input type="text" id="ekran" name="ekran" value="{{laptop.ekran}}" class="form-control"><br>
            </div>      
        </div>

        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="karta_graficzna">Karta graficzna</label></div>
            <div class="col-4">
                <input type="text" id="karta_graficzna" name="karta_graficzna" value="{{laptop.karta_graficzna}}" class="form-control"><br>
            </div>   
        </div>

        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="pamiec_ram">Pamięć RAM:</label></div>
            <div class="col-4">
                <input type="number" id="pamiec_ram" name="pamiec_ram" value="{{laptop.pamiec_ram}}" class="form-control"><br>
            </div>   
        </div>

        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="dysk">Dysk:</label></div>
            <div class="col-4">
                <input type="text" id="dysk" name="dysk" value="{{laptop.dysk}}" class="form-control"><br>
            </div>   
        </div>

        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="cena">Cena:</label></div>
            <div class="col-4">
                <input type="number" id="cena" name="cena" value="{{laptop.cena}}" class="form-control"><br>
            </div>   
        </div>

        <div class="row mb-3">
            <div class="col-1 col-form-label"><label for="liczba_sztuk">Liczba sztuk:</label></div>
            <div class="col-4">
                <input type="number" id="liczba_sztuk" name="liczba_sztuk" value="{{laptop.liczba_sztuk}}" class="form-control"><br>
            </div>   
        </div>


        

        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-2"><input type="submit" value="Zatwierdź" class="btn btn-primary"></div>
        </div>

    </form>
</div>

  

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>
